<div class="header">
  <h1 class="title">안녕하세요! OOO님</h1>
  <div class="user-info">
    <div class="follwer-info">
      <div class="follow-item">
        <span class="label">팔로잉</span>
        <span class="number">0</span>
      </div>
      <div class="follow-item">
        <span class="label">팔로워</span>
        <span class="number">0</span>
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-profile">내 프로필</button>
      <button class="btn btn-logout">로그아웃</button>
    </div>
  </div>
</div>
